.App {
  text-align: center;
  background-image: url("./assets/images/sw-background.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: "Anton", sans-serif;
}

.jumbotron {
  margin-top: 0px;
  margin-bottom: 2rem;
  background-color: black;
  border-radius: 0rem;
  color: white;
  font-size: 2em;
}

.peopleList {
  list-style: none;
  color: white;
  margin-left: -50px;
}

.plotDetails {
  color: white;
}

.isLoading {
  width: 235px;
}

.blackButton {
  background-color: none;
  color: black;
}

.whiteButton {
  background-color: green;
  color: white;
  border: 1px solid green;
}

.whiteButton:after {
  content: "\f00c";
  font-family: FontAwesome;
}
